<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="icon" href="../static/images/icon.ico">
		<title>0.0.0.0:5000/hbnb_filters</title>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">

				<button>Search</button>

				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>

					<ul class="popover">
						<ul>
							{% for state in states.values() | sort(attribute="name") %}
							<li>
								<h2>{{state.name}}</h2>
								<ul>
									{% for city in state.cities | sort (attribute="name") %}
									<li>{{city.name}}</li>
									{% endfor %}
								</ul>
							</li>
							<br>
							{% endfor %}
						</ul>
					</div>
				
				
				<div class="filter_amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<ul class="popover">
						{% for amenity in amenities.values() | sort(attribute="name") %}
							<li>{{amenity.name}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			</section>
		</div>
		<footer>
			<p><strong>Holberton School</strong></p>
		</footer>
	</body>
</html>